
  $dark-cyan: #3c8067;
  $cream: #f2ebe3;
  $very-dark-cyan: #1c232b;
  $dark-grayish-blue: #6c7289;
  $white: #ffffff;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 98vw;
  height: 98vh;
  font-size: 14px;
  background: $cream;
}

